In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
name = 
# Opening the files

B4 = pd.read_csv('..\\..\\Documents\\Arcellor_Mittal_project\\CleanedData\\'+name+'B4.csv')
B5 = pd.read_csv('..\\..\\Documents\\Arcellor_Mittal_project\\CleanedData\\'+name+'B5.csv')

# Splitting the Values columns, *change in script?*

B4.rename(columns = {'Values':'B4_Values'}, inplace = True)
B5.rename(columns = {'Values':'B5_Values'}, inplace = True)

# Setting the desired Lengthpoints

B4 = B4[B4.Lengthpoints >= 140]
B5 = B5[B5.Lengthpoints >= 140]

B4 = B4[B4.Lengthpoints <= 170]
B5 = B5[B5.Lengthpoints <= 170]

# Finding closest values from B5 Lengthpoints to B4 Lengthpoints.
# This will then change the Lengthpoint of B5 to the closest matching B4 Lengthpoint.

index = 0
B4_array = B4['Lengthpoints'].to_numpy()
B5_array = B5['Lengthpoints'].to_numpy()

for each in B5.Lengthpoints:
    
    closest = np.abs(B4_array-each)
    smallest_difference_index = closest.argmin()
    closest_element = B4_array[smallest_difference_index]
    
    B5_array[index] = closest_element
    index+=1
    
pd.set_option('display.max_rows', 200)

B5.Lengthpoints = B5_array 

# Creating a merged dataframe of B4 and B5.
# Adding a difference column to show all width differences in mm.
# Filling the NaN values with the next value or if not available the previous value.

# If you don't want any NaN values in the dataframe, you can remove the 'how= 'left'' 
# from merged_df = pd.merge(B4,B5, how= 'left'). This will then automatically exclude the NaN values.

merged_df = pd.merge(B4,B5, how= 'left')
merged_df = pd.merge(B4,B5, how= 'left')
merged_df['difference'] = merged_df['B5_Values']-merged_df['B4_Values']
merged_df.fillna(method ='bfill', inplace = True)
merged_df.fillna(method ='pad', inplace = True)

# We create the values to put into the columns of CoilData

count = (merged_df['difference']<=-4).sum()

constrictions = []
for each in merged_df['difference']:
    if each <= -4:
        constrictions.append(each)

diff = merged_df['difference'].min()


# We write the information to out CoilData file so we have an overview of which one constricted, what the largest constriction
# is per coil and how many constrictions of equal to or over 4mm there are.

df = pd.read_csv("..\\..\\Documents\\Arcellor_Mittal_project\\CoilData_test.csv")

if diff <= -4:
    coil_index = df.index[df['coil']== int(name)].tolist()
    df.at[coil_index[0],'Constriction?'] = "True"
    df.at[coil_index[0],'Max constriction'] = abs(diff)
    df.at[coil_index[0],'Number of constrictions'] = count
else:
    coil_index = df.index[df['coil']== int(name)].tolist()
    df.at[coil_index[0],'Constriction?'] = "False"    
    
df.to_csv("..\\..\\Documents\\Arcellor_Mittal_project\\CoilData_test.csv", index=False)

In [5]:
index = 0
B4_array = B4['Lengthpoints'].to_numpy()
B5_array = B5['Lengthpoints'].to_numpy()

for each in B5.Lengthpoints:
    
    closest = np.abs(B4_array-each)
    smallest_difference_index = closest.argmin()
    closest_element = B4_array[smallest_difference_index]
    
    B5_array[index] = closest_element
    index+=1
    
pd.set_option('display.max_rows', 200)

B5.Lengthpoints = B5_array

In [6]:
merged_df = pd.merge(B4,B5, how= 'left')
merged_df

    Lengthpoints  B4_Values  B5_Values
0       140.3754     1215.6     1217.6
1       140.8598     1215.6     1217.6
2       141.3446     1215.8     1217.1
3       141.8300     1216.0     1217.0
4       142.3157     1216.0     1216.9
5       142.8014     1215.6        NaN
6       143.2873     1215.6     1216.7
7       143.7730     1215.7     1216.3
8       144.2591     1215.6     1216.0
9       144.7452     1215.1     1215.9
10      145.2315     1214.9     1215.6
11      145.7179     1214.9     1215.1
12      146.2041     1215.0     1214.3
13      146.6905     1215.1     1214.1
14      147.1781     1215.0     1213.0
15      147.6656     1215.0        NaN
16      148.1529     1214.7     1212.6
17      148.6405     1214.6     1212.3
18      149.1280     1214.5     1212.3
19      149.6155     1214.3     1212.2
20      150.1034     1214.1     1212.1
21      150.5908     1214.0     1211.7
22      151.0782     1214.0     1211.4
23      151.5666     1214.2     1211.0
24      152.0549     1214.3     1210.9
25      152.5435     1214.4        NaN
26      153.0324     1214.5     1210.5
27      153.5213     1214.6     1210.3
28      154.0105     1214.6     1209.5
29      154.4996     1214.5     1209.2
30      154.9888     1214.4     1209.0
31      155.4783     1214.4     1208.2
32      155.9684     1214.2     1208.2
33      156.4588     1214.2     1206.7
34      156.9493     1214.4     1205.7
35      157.4398     1214.4        NaN
36      157.9311     1214.6     1204.5
37      158.4223     1214.7     1203.6
38      158.9137     1214.8     1202.9
39      159.4048     1214.7     1201.6
40      159.8956     1214.5     1201.0
41      160.3864     1214.3     1199.5
42      160.8772     1214.1     1198.0
43      161.3680     1214.1     1195.6
44      161.8593     1214.0        NaN
45      162.3521     1214.0     1194.8
46      162.8449     1214.1     1192.8
47      163.3375     1214.2     1191.7
48      163.8303     1214.3     1191.5
49      164.3229     1214.4     1191.6
50      164.8159     1214.4     1192.0
51      165.3086     1214.4     1192.7
52      165.8013     1214.4     1193.6
53      166.2940     1214.4     1195.4
54      166.7868     1214.2        NaN
55      167.2796     1214.1     1195.9
56      167.7722     1214.1     1197.7
57      168.2654     1214.1     1197.9
58      168.7594     1214.2     1200.0
59      169.2535     1214.1     1200.6
60      169.7481     1214.0     1202.1

In [7]:
merged_df = pd.merge(B4,B5, how= 'left')
merged_df['difference'] = merged_df['B5_Values']-merged_df['B4_Values']
merged_df.fillna(method ='bfill', inplace = True)
merged_df.fillna(method ='pad', inplace = True)

merged_df

    Lengthpoints  B4_Values  B5_Values  difference
0       140.3754     1215.6     1217.6         2.0
1       140.8598     1215.6     1217.6         2.0
2       141.3446     1215.8     1217.1         1.3
3       141.8300     1216.0     1217.0         1.0
4       142.3157     1216.0     1216.9         0.9
5       142.8014     1215.6     1216.7         1.1
6       143.2873     1215.6     1216.7         1.1
7       143.7730     1215.7     1216.3         0.6
8       144.2591     1215.6     1216.0         0.4
9       144.7452     1215.1     1215.9         0.8
10      145.2315     1214.9     1215.6         0.7
11      145.7179     1214.9     1215.1         0.2
12      146.2041     1215.0     1214.3        -0.7
13      146.6905     1215.1     1214.1        -1.0
14      147.1781     1215.0     1213.0        -2.0
15      147.6656     1215.0     1212.6        -2.1
16      148.1529     1214.7     1212.6        -2.1
17      148.6405     1214.6     1212.3        -2.3
18      149.1280     1214.5     1212.3        -2.2
19      149.6155     1214.3     1212.2        -2.1
20      150.1034     1214.1     1212.1        -2.0
21      150.5908     1214.0     1211.7        -2.3
22      151.0782     1214.0     1211.4        -2.6
23      151.5666     1214.2     1211.0        -3.2
24      152.0549     1214.3     1210.9        -3.4
25      152.5435     1214.4     1210.5        -4.0
26      153.0324     1214.5     1210.5        -4.0
27      153.5213     1214.6     1210.3        -4.3
28      154.0105     1214.6     1209.5        -5.1
29      154.4996     1214.5     1209.2        -5.3
30      154.9888     1214.4     1209.0        -5.4
31      155.4783     1214.4     1208.2        -6.2
32      155.9684     1214.2     1208.2        -6.0
33      156.4588     1214.2     1206.7        -7.5
34      156.9493     1214.4     1205.7        -8.7
35      157.4398     1214.4     1204.5       -10.1
36      157.9311     1214.6     1204.5       -10.1
37      158.4223     1214.7     1203.6       -11.1
38      158.9137     1214.8     1202.9       -11.9
39      159.4048     1214.7     1201.6       -13.1
40      159.8956     1214.5     1201.0       -13.5
41      160.3864     1214.3     1199.5       -14.8
42      160.8772     1214.1     1198.0       -16.1
43      161.3680     1214.1     1195.6       -18.5
44      161.8593     1214.0     1194.8       -19.2
45      162.3521     1214.0     1194.8       -19.2
46      162.8449     1214.1     1192.8       -21.3
47      163.3375     1214.2     1191.7       -22.5
48      163.8303     1214.3     1191.5       -22.8
49      164.3229     1214.4     1191.6       -22.8
50      164.8159     1214.4     1192.0       -22.4
51      165.3086     1214.4     1192.7       -21.7
52      165.8013     1214.4     1193.6       -20.8
53      166.2940     1214.4     1195.4       -19.0
54      166.7868     1214.2     1195.9       -18.2
55      167.2796     1214.1     1195.9       -18.2
56      167.7722     1214.1     1197.7       -16.4
57      168.2654     1214.1     1197.9       -16.2
58      168.7594     1214.2     1200.0       -14.2
59      169.2535     1214.1     1200.6       -13.5
60      169.7481     1214.0     1202.1       -11.9

In [8]:
count = (merged_df['difference']<=-4).sum()
count

constrictions = []
for each in merged_df['difference']:
    if each <= -4:
        constrictions.append(each)

diff = merged_df['difference'].min()
diff

36

In [9]:
constrictions = []
for each in merged_df['difference']:
    if each <= -4:
        constrictions.append(each)

diff = merged_df['difference'].min()
diff

-22.800000000000182

In [11]:
df = pd.read_csv("..\\..\\Documents\\Arcellor_Mittal_project\\CoilData_test.csv")

if diff <= -4:
    coil_index = df.index[df['coil']== int(name)].tolist()
    df.at[coil_index[0],'Constriction?'] = "True"
    df.at[coil_index[0],'Max constriction'] = abs(diff)
    df.at[coil_index[0],'Number of constrictions'] = count
else:
    coil_index = df.index[df['coil']== int(name)].tolist()
    df.at[coil_index[0],'Constriction?'] = "False"    
    
df.to_csv("..\\..\\Documents\\Arcellor_Mittal_project\\CoilData_test.csv", index=False)

C:\Users\krist\AppData\Local\Temp/ipykernel_21404/1822039798.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("..\\..\\Documents\\Arcellor_Mittal_project\\CoilData_test.csv")