In [114]:
import pandas as pd 
import numpy as np 

from sklearn.linear_model import LogisticRegression

In [115]:
df = pd.read_csv("../CoilData_new.csv", sep=";")

In [116]:
df.head()

,Unnamed: 0,coil,furnace Number,analyse,Hardness_1,Hardness_2,Width,Temperature before finishing mill,Temperature after finishing mill,Thickness,...,ma,b,n,ti,cr,va,mo,Constriction,Max separation,Number of separation points
0,0,396378,1,K371,10003,101,1302.1,1147,921,4.36,...,291,1,34,6,302,0,25,False,NaN,NaN
1,1,396376,3,K371,10123,101,1282.3,1150,920,4.37,...,384,1,33,12,189,25,7,False,NaN,NaN
2,2,396377,4,K321,10040,102,1297.4,1183,933,4.43,...,463,1,20,11,288,0,40,False,NaN,NaN
3,3,396379,3,K371,10243,102,1295.2,1165,910,4.44,...,296,1,21,9,253,0,9,False,NaN,NaN
4,4,396380,4,K321,10012,100,1293.3,1192,909,3.95,...,329,1,28,8,297,0,23,False,NaN,NaN

In [117]:
df.columns

Index(['Unnamed: 0', 'coil', 'furnace Number', 'analyse', 'Hardness_1',
       'Hardness_2', 'Width', 'Temperature before finishing mill',
       'Temperature after finishing mill', 'Thickness', 'Thickness profile',
       'c', 'mn', 'si', 'nb', 'p', 's', 'al', 'ma', 'b', 'n', 'ti', 'cr', 'va',
       'mo', 'Constriction', 'Max separation', 'Number of separation points'],
      dtype='object')

In [118]:
X = df.drop(["Constriction", "analyse","Max separation", "Number of separation points", "Thickness profile" ], axis=1)
#X = X.values
#X["Thickness profile"]= pd.to_numeric(X["Thickness profile"], errors="coerce")
X

,Unnamed: 0,coil,furnace Number,Hardness_1,Hardness_2,Width,Temperature before finishing mill,Temperature after finishing mill,Thickness,c,...,p,s,al,ma,b,n,ti,cr,va,mo
0,0,396378,1,10003,101,1302.1,1147,921,4.36,355,...,133,143,304,291,1,34,6,302,0,25
1,1,396376,3,10123,101,1282.3,1150,920,4.37,551,...,118,90,395,384,1,33,12,189,25,7
2,2,396377,4,10040,102,1297.4,1183,933,4.43,457,...,108,115,476,463,1,20,11,288,0,40
3,3,396379,3,10243,102,1295.2,1165,910,4.44,697,...,139,98,306,296,1,21,9,253,0,9
4,4,396380,4,10012,100,1293.3,1192,909,3.95,477,...,112,121,340,329,1,28,8,297,0,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55764,56893,15618,1,9948,99,1257.3,1183,913,3.27,425,...,97,160,389,339,1,26,7,199,0,30
55765,56895,15620,1,9951,100,1256.6,1180,922,2.68,425,...,93,160,405,379,1,24,7,194,0,30
55766,56896,15621,3,9885,99,1257.2,1182,919,2.68,357,...,92,159,334,324,1,26,8,248,0,36
55767,56897,15622,1,9885,99,1257.1,1194,923,2.68,357,...,92,159,334,324,1,26,8,248,0,36
55768,56898,15623,3,9885,99,1258.0,1178,918,2.69,357,...,92,159,334,324,1,26,8,248,0,36

In [119]:
y = df.Constriction

In [120]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [121]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [127]:
sorted(Counter(y_train).items())

[(False, 43383), (True, 1232)]

In [122]:
lr = LogisticRegression(solver='lbfgs', max_iter=1000)
lr.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [123]:
y_pred = lr.predict(X_test)
y_pred

array([False, False, False, ..., False, False, False])

In [124]:
from sklearn.metrics import confusion_matrix, classification_report

In [125]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.97      1.00      0.99     10848
        True       0.29      0.01      0.01       306

    accuracy                           0.97     11154
   macro avg       0.63      0.50      0.50     11154
weighted avg       0.95      0.97      0.96     11154

In [126]:
confusion_matrix(y_test, y_pred)

pd.crosstab(y_test, y_pred, rownames = ['Actual'], colnames =['Predicted'], margins = True)

Predicted  False  True    All
Actual
False      10843     5  10848
True         304     2    306
All        11147     7  11154