In [1]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestClassifier

In [2]:
df_predict = pd.read_csv("..\\..\\Documents\\Arcellor_Mittal_project\\CoilData_test.csv")
df_predict

,Unnamed: 0,coil,furnace Number,analyse,Hardness_1,Hardness_2,Width,Temperature before finishing mill,Temperature after finishing mill,Thickness,...,ma,b,n,ti,cr,va,mo,Constriction,Max separation,Number of separation points
0,0,396378,1,K371,10003,101,1302.1,1147,921,4.36,...,291,1,34,6,302,0,25,False,NaN,NaN
1,1,396376,3,K371,10123,101,1282.3,1150,920,4.37,...,384,1,33,12,189,25,7,False,NaN,NaN
2,2,396377,4,K321,10040,102,1297.4,1183,933,4.43,...,463,1,20,11,288,0,40,False,NaN,NaN
3,3,396379,3,K371,10243,102,1295.2,1165,910,4.44,...,296,1,21,9,253,0,9,False,NaN,NaN
4,4,396380,4,K321,10012,100,1293.3,1192,909,3.95,...,329,1,28,8,297,0,23,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55764,56893,15618,1,K371,9948,99,1257.3,1183,913,3.27,...,339,1,26,7,199,0,30,False,NaN,NaN
55765,56895,15620,1,K371,9951,100,1256.6,1180,922,2.68,...,379,1,24,7,194,0,30,False,NaN,NaN
55766,56896,15621,3,K371,9885,99,1257.2,1182,919,2.68,...,324,1,26,8,248,0,36,False,NaN,NaN
55767,56897,15622,1,K371,9885,99,1257.1,1194,923,2.68,...,324,1,26,8,248,0,36,False,NaN,NaN
55768,56898,15623,3,K371,9885,99,1258.0,1178,918,2.69,...,324,1,26,8,248,0,36,False,NaN,NaN

In [3]:
df_predict.drop(['Unnamed: 0', 'coil','Max separation', 'Number of separation points'],inplace = True, axis = 1)

In [4]:
for column in df_predict[['Hardness_1', 'Hardness_2', 'Width',
       'Temperature before finishing mill', 'Temperature after finishing mill',
       'Thickness', 'Thickness profile', 'c', 'mn', 'si', 'nb', 'p', 's', 'al',
       'ma', 'b', 'n', 'ti', 'cr', 'va', 'mo']]:
    df_predict[column] = pd.to_numeric(df_predict[column], errors="coerce")

In [6]:
df_predict.isnull().sum()

furnace Number                         0
analyse                                0
Hardness_1                             0
Hardness_2                             0
Width                                  0
Temperature before finishing mill      0
Temperature after finishing mill       0
Thickness                              0
Thickness profile                    438
c                                      0
mn                                     0
si                                     0
nb                                     0
p                                      0
s                                      0
al                                     0
ma                                     0
b                                      0
n                                      0
ti                                     0
cr                                     0
va                                     0
mo                                     0
Constriction                           0
dtype: int64

In [7]:
df_predict.dropna(axis = 0, how = 'any')

,furnace Number,analyse,Hardness_1,Hardness_2,Width,Temperature before finishing mill,Temperature after finishing mill,Thickness,Thickness profile,c,...,s,al,ma,b,n,ti,cr,va,mo,Constriction
0,1,K371,10003,101,1302.1,1147,921,4.36,31.0,355,...,143,304,291,1,34,6,302,0,25,False
1,3,K371,10123,101,1282.3,1150,920,4.37,35.0,551,...,90,395,384,1,33,12,189,25,7,False
2,4,K321,10040,102,1297.4,1183,933,4.43,25.0,457,...,115,476,463,1,20,11,288,0,40,False
3,3,K371,10243,102,1295.2,1165,910,4.44,28.0,697,...,98,306,296,1,21,9,253,0,9,False
4,4,K321,10012,100,1293.3,1192,909,3.95,26.0,477,...,121,340,329,1,28,8,297,0,23,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55764,1,K371,9948,99,1257.3,1183,913,3.27,11.0,425,...,160,389,339,1,26,7,199,0,30,False
55765,1,K371,9951,100,1256.6,1180,922,2.68,12.0,425,...,160,405,379,1,24,7,194,0,30,False
55766,3,K371,9885,99,1257.2,1182,919,2.68,13.0,357,...,159,334,324,1,26,8,248,0,36,False
55767,1,K371,9885,99,1257.1,1194,923,2.68,11.0,357,...,159,334,324,1,26,8,248,0,36,False
55768,3,K371,9885,99,1258.0,1178,918,2.69,14.0,357,...,159,334,324,1,26,8,248,0,36,False